/** Admin Menu */
ul#adminmenu li#toplevel_page_twitchwp.wp-has-current-submenu {
  background: #6441a5; }
  ul#adminmenu li#toplevel_page_twitchwp.wp-has-current-submenu a.menu-top {
    background: #6441a5; }

ul#adminmenu li#toplevel_page_twitchwp div.wp-menu-image.dashicons-before::before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 19px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f1e8";
  position: relative;
  top: 2px; }
